Dashboard.json
[
    {
        "id": "a525ce2e44c376ac",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "70b773a59337d0bc",
        "type": "json",
        "z": "a525ce2e44c376ac",
        "name": "Json",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "66b25cc1251bc5a1",
                "c71965b99a6832ea",
                "7a5f192957d9fee2",
                "a0eb181a8928eef8"
            ]
        ]
    },
    {
        "id": "7a5f192957d9fee2",
        "type": "ui_gauge",
        "z": "a525ce2e44c376ac",
        "name": "",
        "group": "0d34d69f2af6015a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distância da Moto (cm)",
        "label": "cm",
        "format": "{{payload.distancia}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#000000",
            "#ff0000"
        ],
        "seg1": "16 ",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "9cd9e7d28f671e08",
        "type": "ui_chart",
        "z": "a525ce2e44c376ac",
        "name": "Gráfico GPS\t",
        "group": "0d34d69f2af6015a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "GPS Simulado (Potenciômetro)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1023",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b3f0ea5fd8bc343d",
        "type": "serial in",
        "z": "a525ce2e44c376ac",
        "name": "",
        "serial": "930dc3345253d387",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "70b773a59337d0bc"
            ]
        ]
    },
    {
        "id": "66b25cc1251bc5a1",
        "type": "debug",
        "z": "a525ce2e44c376ac",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "c71965b99a6832ea",
        "type": "function",
        "z": "a525ce2e44c376ac",
        "name": "Leitura Json",
        "func": "// Pega o status que vem do nó Json\nvar status = msg.payload.status;\n\n// Define uma variável para a cor\nvar cor;\n\n// Lógica para decidir a cor com base no texto do status\nif (status === \"Moto no local correto\") {\n    cor = \"green\";\n} else if (status === \"Moto em movimento / fora da zona segura\") {\n    cor = \"orange\";\n} else {\n    cor = \"red\";\n}\n\n// Agora, nós criamos o código HTML diretamente aqui\n// Este HTML será enviado para o nó de texto\nvar html_output = `\n<div style=\"\n    width: 100%;\n    padding: 10px;\n    border-radius: 5px;\n    font-weight: bold;\n    font-size: 18px;\n    color: white;\n    text-align: center;\n    background-color: ${cor};\n\">\n    ${status}\n</div>\n`;\n\n// Trocamos o payload original pelo nosso HTML\nmsg.payload = html_output;\n\n// Enviamos a mensagem para o próximo nó\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 280,
        "wires": [
            [
                "56266c106d1da42a"
            ]
        ]
    },
    {
        "id": "56266c106d1da42a",
        "type": "ui_text",
        "z": "a525ce2e44c376ac",
        "group": "0d34d69f2af6015a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "a0eb181a8928eef8",
        "type": "change",
        "z": "a525ce2e44c376ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gps",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 360,
        "wires": [
            [
                "9cd9e7d28f671e08"
            ]
        ]
    },
    {
        "id": "0d34d69f2af6015a",
        "type": "ui_group",
        "name": "Garagem Mottu",
        "tab": "f0375d3b3a4a5b12",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "930dc3345253d387",
        "type": "serial-port",
        "name": "Arduino",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "f0375d3b3a4a5b12",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ce5f7cfb7a0dbf2f",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-serialport": "2.0.3"
        }
    }
]