flows.json
[
    {
        "id": "a525ce2e44c376ac",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "70b773a59337d0bc",
        "type": "json",
        "z": "a525ce2e44c376ac",
        "name": "Json",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "96ddd1c2e4257bb5",
                "66b25cc1251bc5a1"
            ]
        ]
    },
    {
        "id": "7a5f192957d9fee2",
        "type": "ui_gauge",
        "z": "a525ce2e44c376ac",
        "name": "",
        "group": "0d34d69f2af6015a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distância da Moto (cm)",
        "label": "cm",
        "format": "{{payload.distancia}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#000000",
            "#ff0000"
        ],
        "seg1": "16 ",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "9cd9e7d28f671e08",
        "type": "ui_chart",
        "z": "a525ce2e44c376ac",
        "name": "Gráfico GPS\t",
        "group": "0d34d69f2af6015a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "GPS Simulado (Potenciômetro)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1023",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b3f0ea5fd8bc343d",
        "type": "serial in",
        "z": "a525ce2e44c376ac",
        "name": "",
        "serial": "930dc3345253d387",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "70b773a59337d0bc"
            ]
        ]
    },
    {
        "id": "66b25cc1251bc5a1",
        "type": "debug",
        "z": "a525ce2e44c376ac",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "c71965b99a6832ea",
        "type": "function",
        "z": "a525ce2e44c376ac",
        "name": "Leitura Json",
        "func": "// Pega o status que vem do nó Json\nvar status = msg.payload.status;\n\n// Define uma variável para a cor\nvar cor;\n\n// Lógica para decidir a cor com base no texto do status\nif (status === \"Moto no local correto\") {\n    cor = \"green\";\n} else if (status === \"Moto em movimento / fora da zona segura\") {\n    cor = \"orange\";\n} else {\n    cor = \"red\";\n}\n\n// Agora, nós criamos o código HTML diretamente aqui\n// Este HTML será enviado para o nó de texto\nvar html_output = `\n<div style=\"\n    width: 100%;\n    padding: 10px;\n    border-radius: 5px;\n    font-weight: bold;\n    font-size: 18px;\n    color: white;\n    text-align: center;\n    background-color: ${cor};\n\">\n    ${status}\n</div>\n`;\n\n// Trocamos o payload original pelo nosso HTML\nmsg.payload = html_output;\n\n// Enviamos a mensagem para o próximo nó\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 240,
        "wires": [
            [
                "56266c106d1da42a"
            ]
        ]
    },
    {
        "id": "56266c106d1da42a",
        "type": "ui_text",
        "z": "a525ce2e44c376ac",
        "group": "0d34d69f2af6015a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1110,
        "y": 240,
        "wires": []
    },
    {
        "id": "a0eb181a8928eef8",
        "type": "change",
        "z": "a525ce2e44c376ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gps",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 320,
        "wires": [
            [
                "9cd9e7d28f671e08"
            ]
        ]
    },
    {
        "id": "96ddd1c2e4257bb5",
        "type": "function",
        "z": "a525ce2e44c376ac",
        "name": "Tradutor",
        "func": "var dados = msg.payload;\n\n// --- Nomes das Chaves ---\nvar chave_distancia = \"distancia\";\nvar chave_gps = \"gps\";\n\nif (typeof dados !== 'object' || dados === null || dados[chave_distancia] === undefined || dados[chave_gps] === undefined) {\n    node.warn(\"Payload do [Json] não está no formato esperado.\");\n    node.warn(\"Payload recebido foi: \" + JSON.stringify(dados));\n    return null; \n}\n\n// --- DADOS DE TESTE  ---\nvar idRealDaMoto = \"46e32f02-d45f-42ff-af74-f7cbf804a808\"; \nvar codigoRealDaVaga = \"A1\";\n\n// --- MENSAGEM 1: VAGA (Sensor Ultrassônico) ---\nvar distanciaCm = parseInt(dados[chave_distancia]);\nvar statusVaga = (distanciaCm < 20) ? \"ocupada\" : \"disponivel\";\nvar vagaPayload = { \"status\": statusVaga };\n\nvar msgVaga = {\n    topic: \"mottu/patios/1/vagas/\" + codigoRealDaVaga + \"/status\",\n    payload: JSON.stringify(vagaPayload)\n};\n\n// --- MENSAGEM 2: MOTO (Potenciômetro/GPS) ---\nvar potValor = parseInt(dados[chave_gps]);\nvar lat = -23.5505 - (potValor / 10000.0);\nvar lon = -46.6333 - (potValor / 10000.0);\n\n\n// Agora vamos LER o status que veio do Arduino\nvar statusArduino = dados.status;\nvar statusKey = \"\";\n\n// Conversor de PTBR para Ingles \nif (statusArduino === \"Moto no local correto\") {\n    statusKey = \"moto.status.ok\";\n} else if (statusArduino === \"Moto em movimento / fora da zona segura\") {\n    statusKey = \"moto.status.em_movimento\";\n} else if (statusArduino === \"ALERTA! Moto na zona segura, mas não estacionada corretamente\") {\n    statusKey = \"moto.alerta.zona_segura_nao_estacionada\";\n} else {\n    statusKey = dados.status;\n}\n\nvar gpsPayload = { \"lat\": lat, \"lon\": lon, \"status\": statusKey };\n\nvar msgMoto = {\n    topic: \"mottu/motos/\" + idRealDaMoto + \"/localizacao\",\n    payload: JSON.stringify(gpsPayload)\n};\n\n// --- Envio das Mensagens ---\nnode.send(msgVaga);\nnode.send(msgMoto);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 280,
        "wires": [
            [
                "eef8ee4f52299d19",
                "a12181830f1b0971"
            ]
        ]
    },
    {
        "id": "eef8ee4f52299d19",
        "type": "mqtt out",
        "z": "a525ce2e44c376ac",
        "name": "Node to Java",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "be788b637fefb2af",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "a12181830f1b0971",
        "type": "debug",
        "z": "a525ce2e44c376ac",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "0d34d69f2af6015a",
        "type": "ui_group",
        "name": "Garagem Mottu",
        "tab": "f0375d3b3a4a5b12",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "930dc3345253d387",
        "type": "serial-port",
        "name": "Arduino",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "be788b637fefb2af",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f0375d3b3a4a5b12",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "01a163f57991c0dc",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-serialport": "2.0.3"
        }
    }
]